.headerOne {
  background-color: rgb(241, 241, 241);
  position: absolute;
  top: 10%;
  left: 40%;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.headerOneSelected {
  background-color: gold;
  position: absolute;
  top: 10%;
  left: 40%;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.headerTwo {
  background-color: rgb(241, 241, 241);
  position: absolute;
  top: 10%;
  left: 50%;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.headerTwoSelected {
  background-color: gold;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.headerOne:hover {
  background-color: violet;
}
.headerTwo:hover {
  background-color: violet;
}
.headerTtile {
  padding-left: 5px;
}
.resetButton {
  background-color: purple;
  width: 100%;
  font-size: 12px;
  color: white;
}
