.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/Background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-child {
  position: absolute;
  border-radius: 9.96px;
  background-color: white;
  opacity: 0.6;
  width: 60%;
  height: 70%;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .group-child {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .group-child {
    width: 30%;
  }
}
.profileCircle {
  width: 23%;
  height: 19%;
  background-color: purple;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
