.MessageDashboard {
  width: 100%;
  height: 100%;
}
.UserContainer {
  width: 320px;
  height: 93%;
  position: absolute;
  left: 256px;
  border: solid;
  border-color: white rgb(241, 238, 232) white;
  overflow: auto;
}
.UserContainer::-webkit-scrollbar {
  width: 5px;
}

.UserContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.UserContainer::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.UserContainer::-webkit-scrollbar-thumb:hover {
  background-color: violet;
}
.userHeader {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: white white rgb(236, 234, 234) white;
}
.ConversationsBoard {
  background-color: white;
  width: 70%;
  height: 92%;
  position: absolute;
  left: 580px;
  overflow: auto;
}
