.formHeaderLobby {
  text-align: center;
}

.first-name1 {
  position: absolute;
  top: 80px;
  left: 130px;
}
.last-name {
  position: absolute;
  top: 80px;
  left: 460px;
}
.CusotmerfirstInput {
  position: absolute;
  top: 140px;
  left: 130px;
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
}
.CusotmerfirstInput:focus {
  border-bottom: 2px solid #26a69a;
}
.CusotmersecondInput {
  position: absolute;
  top: 140px;
  left: 460px;
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
}
.CusotmersecondInput:focus {
  border-bottom: 2px solid #26a69a;
}
.intention {
  position: absolute;
  top: 580px;
  left: 45%;
}
.intentionVisit {
  position: absolute;
  top: 640px;
  left: 140px;
  width: 480px;
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
}
.intentionVisit:focus {
  border-bottom: 2px solid #26a69a;
}
.submitBut {
  background-color: #800080;
  border-radius: 20px;
  height: 36px;
  left: 45%;
  overflow: hidden;
  position: absolute;
  width: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.submitButInactive {
  background-color: grey;
  border-radius: 20px;
  height: 36px;
  left: 45%;
  overflow: hidden;
  position: absolute;
  width: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.submitBut:hover {
  background-color: #b110b1;
  transform: translateY(-2px); /* move element up by 5px */
}
.genderSelection {
  position: absolute;
  top: 240px;
  left: 130px;
}
.noNumberSpin::-webkit-inner-spin-button,
.noNumberSpin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
