.LobbyContainer {
  width: 800px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

.frame .div {
  border: solid;
  border-radius: 20px;
  border-color: #800080;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 522px;
  position: relative;
  width: 511px;
  box-shadow: 5px 10px #888888;
}

.frame .register-employee {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
}

.frame .firstNameInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 66px;
  position: absolute;
  top: 172px;
  width: 136px;
}
.frame .woredaInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 66px;
  position: absolute;
  top: 256px;
  width: 136px;
}
.frame .subcityInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 279px;
  position: absolute;
  top: 256px;
  width: 136px;
}
.frame .phoneInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 340px;
  width: 136px;
}
/* For Chrome, Safari, Edge, Opera */
.phoneInput::-webkit-outer-spin-button,
.phoneInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.phoneInput {
  -moz-appearance: textfield;
}

.frame .overlap-group {
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 279px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.frame .lastNameInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 136px;
}

.frame .text-wrapper {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 213px;
}

.frame .emailInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 256px;
  width: 349px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 298px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 130px;
}
.frame .text-wrapper-7 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 213px;
}

.frame .text-wrapper-4 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 130px;
}

.frame .text-wrapper-5 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 298px;
}

.frame .floorNumberInput {
  border: none;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 340px;
  width: 136px;
}
.line-4:focus {
  border-bottom: 2px solid #26a69a;
}
.line-3:focus {
  border-bottom: 2px solid #26a69a;
}
.line-2:focus {
  border-bottom: 2px solid #26a69a;
}
.img:focus {
  border-bottom: 2px solid #26a69a;
}
.line:focus {
  border-bottom: 2px solid #26a69a;
}
.frame .submitButton {
  background-color: #800080;
  border-radius: 20px;
  height: 36px;
  left: 169px;
  overflow: hidden;
  position: absolute;
  top: 402px;
  width: 162px;
}
.frame .submitButton:hover {
  background-color: #b110b1;
  transform: translateY(-2px); /* move element up by 5px */
}

.frame .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}
.submitButton:hover .text-wrapper-6 {
  cursor: pointer;
}
