.dashboard .navigation-example {
  background-color: aqua;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 256px;
}
.dashboard .overlap {
  background-color: aqua;
  height: 100%;
  position: relative;
}
.dashboard .navigation-elements {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 256px;
}
.dashboard .divider {
  background-color: rgb(248, 248, 248); /* var(--gray-divider)  */
  height: 976px;
  left: 255px;
  position: relative;
  width: 1px;
}
.dashboard .navigation-elements-2 {
  background-color: purple; /* The image at the back      background-image: url(./header.avif);*/
  background-position: 50% 50%;
  background-size: cover;
  height: 144px;
  left: 0;
  position: absolute;
  top: 0;
  width: 255px;
}
.dashboard .avatar-man {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  left: 16px;
  position: absolute;
  top: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  /* Can add border radius to the image  border-radius: 40%;   */
}
.dashboard .status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  top: 65px;
  left: 46px;
  position: absolute;
}
.update-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid lightgreen;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  font-size: small;
}

.dashboard .divider-2 {
  background-color: var(--gray-divider);
  height: 1px;
  left: 0;
  position: absolute;
  top: 143px;
  width: 255px;
}

.dashboard .icon-navigation {
  height: 24px;
  left: 215px;
  position: absolute;
  top: 105px;
  width: 24px;
}
.dashboard .text-wrapper {
  color: white;
  font-family: var(--medium-20px-font-family);
  font-size: var(--medium-20px-font-size);
  font-style: var(--medium-20px-font-style);
  font-weight: var(--medium-20px-font-weight);
  left: 16px;
  letter-spacing: var(--medium-20px-letter-spacing);
  line-height: var(--medium-20px-line-height);
  position: absolute;
  top: 103px;
  white-space: nowrap;
  width: 183px;
  cursor: pointer;
}
.dashboard .navigation-elements-3 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 365px;
  width: 255px;
}

.dashboard .navigation-elements-4 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 255px;
}
.dashboard .iconSetting {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 24px;
  cursor: pointer;
}
.dashboard .text-wrapper-2 {
  color: #000000de;
  font-family: var(--medium-14px-font-family);
  font-size: var(--medium-14px-font-size);
  font-style: var(--medium-14px-font-style);
  font-weight: var(--medium-14px-font-weight);
  left: 72px;
  letter-spacing: var(--medium-14px-letter-spacing);
  line-height: var(--medium-14px-line-height);
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 151px;
}
.dashboard .text-wrapper-2 {
  cursor: pointer;
}

.dashboard .text-wrapper-3 {
  color: black;
  font-family: var(--regular-14px-font-family);
  font-size: var(--regular-14px-font-size);
  font-style: var(--regular-14px-font-style);
  font-weight: var(--regular-14px-font-weight);
  left: 16px;
  letter-spacing: var(--regular-14px-letter-spacing);
  line-height: var(--regular-14px-line-height);
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 223px;
}
.dashboard .text-wrapper-3 {
  cursor: none;
}
.dashboard .overlap-group-wrapper {
  height: 40px;
  left: 0;
  position: absolute;
  top: 156px;
  width: 255px;
}

.dashboard .overlap-group {
  border-radius: 4px;
  height: 40px;
  left: 8px;
  position: relative;
  width: 239px;
}
.dashboard .overlap-group:hover {
  background-color: violet;
  transform: translateY(-5px); /* move element up by 5px */
}
.dashboard .icon-action {
  height: 24px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 24px;
}
.dashboard .text-wrapper-4 {
  color: var(--mainblue-500);
  font-family: var(--medium-14px-font-family);
  font-size: var(--medium-14px-font-size);
  font-style: var(--medium-14px-font-style);
  font-weight: var(--medium-14px-font-weight);
  left: 64px;
  letter-spacing: var(--medium-14px-letter-spacing);
  line-height: var(--medium-14px-line-height);
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 151px;
}
.dashboard .text-wrapper-4 {
  cursor: pointer;
}
.dashboard .navigation-elements-5 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 204px;
  width: 255px;
}

.dashboard .navigation-elements-6 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 252px;
  width: 255px;
}

.dashboard .navigation-elements-7 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 300px;
  width: 255px;
}
.dashboard .navigation-elements-8 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 449px;
  width: 255px;
}
.dashboard .navigation-elements-8:hover {
  background-color: violet;
  transform: translateY(-5px); /* move element up by 5px */
}
.dashboard .divider-3 {
  background-color: rgb(
    180,
    180,
    180
  ); /*   background-color: var(--gray-divider); */
  height: 1px;
  left: 0;
  position: absolute;
  top: 352px;
  width: 255px;
}
@keyframes slideDown {
  0% {
    transform: translateY(-55%);
  }
  100% {
    transform: translateY(25%);
  }
}

.logoutButton {
  position: relative;
  background-color: #dc143c;
  z-index: 5;
  font-size: small;
  margin-left: -42px;
  animation: slideDown 0.5s forwards;
}
